<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data!</a></p>
    </div>
    <div class = "container-fluid">
      <div class = "container">
        <h3>Latest image from Mars</h3>
        <img src="{{ url.image_path }}"><a href = "{{ url.image_path}}"></a></img>
        </div>
      <h3>{{ article.title, article.paragraph }}</h3>
      <div class ="col-md-3">
        <div class="thumbnail">
          <a href="{{ hemispheres.img_url }}">
            <img src="{{ hemispheres.img_url }}" alt="{{ hemispheres.title }}"></img>
            <div class="caption">
              <p>{{ hemispheres.title }}</p>
              </div>
          </a>
      </div>
      </div>
      <div class ="col-md-3">
        <div class="thumbnail">
          <a href="{{ hemispheres.img_url }}">
            <img src="{{ hemispheres.img_url }}" alt="{{ hemispheres.title }}"></img>
            <div class="caption">
              <p>{{ hemispheres.title }}</p>
              </div>
          </a>
        </div>
        <div class ="col-md-3">
          <div class="thumbnail">
            <a href="{{ hemispheres.img_url }}">
              <img src="{{ hemispheres.img_url }}" alt="{{ hemispheres.title }}"></img>
              <div class="caption">
                <p>{{ hemispheres.title }}</p>
                </div>
            </a>
        </div>
        </div>
          <div class ="col-md-3">
            <div class="thumbnail">
              <a href="{{ hemispheres.img_url }}">
              <img src="{{ hemispheres.img_url }}" alt="{{ hemispheres.title }}"></img>
              <div class="caption">
                <p>{{ hemispheres.title }}</p>
              </div>
          </a>
        </div>
        </div>
        </div>
      </div>
    </div>
  </body>